AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=12345678
AWS_ENDPOINT_URL=https://minio-api.internal.opencloudhub.org
POSTGRES_DEMO_APP_DB_PASSWORD=1234
PGVECTOR_HOST=127.0.0.1
DVC_REPO=https://github.com/OpenCloudHub/data-registry
DOCKER_IMAGE=opencloudhuborg/data-registry-pipelines:latest
ARGO_WORKFLOW_UID=DEV